#root {
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: calc(5px + 2vmin);
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(3px + 2vmin);
  gap: 5vmin;
}

/* YouTube埋め込み用 */
.youtube {
  position: relative;
  width: 100%;
  height: 0;            /* 高さはpadding-topで指定 */
  padding-top: 56.25%;  /* 高さを指定(16:9) */
}

/* YouTube埋め込み用のiframe */
.youtube iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
